{% extends 'base.html' %}

{% block title %}
Gratia: Home
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">

        <!-- Journal Entries -->
        <div class="col-12 mt-3 left">
            <div class="row">
            {% for entry in journal_list %}

            {% if forloop.counter|divisibleby:4 %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="author card-title">
                                <a href="#complete-later">{{ journal.author }}</a></h3>
                            <h3 class="post-date">{{ journal.created_on }}</h3>    
                            <ul class="gratitudes card-text">
                                <li class="gratitude-1">{{ journal.one }}</li>
                                <li class="gratitude-2">{{ journal.two }}</li>
                                <li class="gratitude-3">{{ journal.three }}</li>
                                <li class="gratitude-4">{{ journal.four }}</li>
                                <li class="gratitude-5">{{ journal.five }}</li>
                            </ul>
                            <p class="card-text text-muted h5">
                                <i class="fa-regular fa-heart"></i>{{ journal.number_of_likes }}
                            </p>
                            <p class="tags">{{ journal.tags }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>

</div>
{% endblock %}